<div class="navbar bg-orange-600">
  <div class="flex-1">
    <%= link_to "アプリの題名", root_path, class: 'btn btn-ghost text-xl' %>
  </div>
  <div class="space-x-4">
    <%= link_to "投稿一覧", "#", class: 'btn btn-neutral' %>
    <%= link_to "投稿する", "#", class: 'btn btn-neutral' %>
    <details class="dropdown dropdown-end">
      <summary class="btn m-1">open or close</summary>
      <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
        <li>
          <%= link_to "マイページ", "#" %>
        </li>
        <li>
          <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete } %>
        </li>
      </ul>
    </details>
  </div>
</div>